<table class = "table">
  <tr>
    <th>Adress</th>
    <th>Company</th> 
    <th>Start date</th>
    <th>Deadline</th> 
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.building_location.adress %></td>
      <td><%= booking.company.name %></td>
      <td><%= booking.date_from %></td>
      <td><%= booking.date_to %></td>
    </tr>
  <% end %>
</table>

<div class="btn btn-outline-dark">
   <%=link_to 'Add booking', new_booking_path, class: 'btn'%>
</div>

